arrow==0.12.1
backports.functools-lru-cache==1.5
certifi==2018.4.16
chardet==3.0.4
Django==1.11.13
django-bootstrap==0.2.4
django-forms-bootstrap==3.1.0
django-paypal==0.3.6
fanstatic==1.0.0
idna==2.7
js.lodash==4.17.4
Pillow==5.1.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.19.1
shutilwhich==1.1.0
six==1.11.0
stripe==1.82.1
urllib3==1.23
WebOb==1.8.2
gunicorn== 19.9.0
dj-database-url==0.2.1

