/****************************BASE.HTML*************************/
@media (max-width: 480px) {

    svg.skull{
    display: none;
}

}

@media (max-width: 767px) {

    #about-bg-diagonal {
         display: none;
     }
    div.subSection{
        display: none;
    }

    .front.col-sm-4{
        margin-top: 0;
        margin-left: 70px;
        margin-bottom: 50px;
    }

   .products.col-sm-4{
        margin-top: 0;
        margin-left: 5px;
        margin-bottom: 20px;
   }

   svg.skull{
    display: none;
}
 .products.col-sm-4{
        margin-top: 0;
        margin-left: 50px;
        margin-bottom: 20px;
   }
}

@media (min-width: 768px) and (max-width: 991px){
     article{
    background-image: url("../img/DSC_0457p2.jpg");
}
    .products.col-sm-4{
        margin-top: 0;
        margin-left: 50px;
        margin-bottom: 20px;
   }
}
/*===================================================PC===============================================================*/
.selector-for-some-widget {
  box-sizing: content-box;
}

html,body{
    background: #141414;
    width: 100%;
    height: 1000px;
}



.navbar {
    border-radius: 0;
}

nav.navbar.navbar-inverse{
    background-image: linear-gradient(#141414, #141414, #141414);
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.index.container{
    margin-top: 20px;
}

/*Login and Log off*/

#success{
    margin-top: 50px;
}

/*===============================================Index================================================================*/

/*parallax*/


#about-bg-diagonal{
    width: 60%;
    height: 900px;
    float: right;
    background-image: url("../img/DSC_0457p2.jpg");
    border-left: 400px solid #141414;
    border-top:900px solid transparent;
    background-attachment: fixed;
    background-position: -280px -50px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

.about-content-box {
 float: left;
 height: 800px;
}

.about-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

.about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

h3{
    color: white;
}
.write{

    color: white;
}


/*===========================================Section 2================================================================*/

.subSection{
    height: 50px;
    width: 60%;
    background-color: #141414;

}

h1{
    text-align: center;
    color:#141414;

}


.front{
    margin-top: 60px;
    margin-left: 160px;
    margin-bottom: 50px;
    border-radius: 2px;
}

.mainproduct{
    height: 100%;
    width: 100%;
}

.mainproduct:hover{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

p{
    color: white;
    font-size: 20px;
}
/*============================================Animation===============================================================*/

.anime{
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

.anime-start{
    opacity: 1;
    transform: translate3d(0,0,0);
}


/*================================================Login===============================================================*/
.login.container{
    margin-top: 60px;
    background: linear-gradient(to bottom right, darkmagenta, mediumpurple);
    padding-top: 5px;
    border-radius: 10px 25px;
}

.register.container{
    margin-top: 60px;
    background: linear-gradient(to bottom right, darkmagenta, mediumpurple);
    padding-top: 5px;
    border-radius: 10px 25px;
}

/*===============================================Profile==============================================================*/
.profile.container{
    margin-top: 60px;
    background: linear-gradient(to bottom right, darkmagenta, mediumpurple);
    padding-top: 5px;
    border-radius: 10px 25px;

}

.success{
    color: gold;

}
/*==============================================Product===============================================================*/

.products{
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 20px;
   }

.clothes{
    margin-top: 10px;

}

.thumbnail{
    background-color: #141414;
    height: 500px;
    width: 400px;
}

.clothesalignment{
    text-align: center;

}


.descriptionprod{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.clothesalignment{
    color: white;
}


img{
    width: 300px;
    height: 200px;
}




#skullshape{


}

.skullshape{
    align-content: center;
    transition: all 1.5s;
}

svg:hover .skullshape{
    fill: yellowgreen;
    transform: scale(.9);
}

svg.skull{
    margin-left: 310px;
}

/*===============================================Flatpages============================================================*/


.flatpages{
    color: white;


}

.stylepages{
    background: linear-gradient(to bottom right, mediumpurple, darkmagenta);
    height: auto;
    width: auto;
    padding-top: 2px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 25px;
}

/*================================================Register============================================================*/
.monthly{
    background: linear-gradient(to bottom right, mediumpurple, darkmagenta);
    border-radius: 10px 25px;
}

.monthlyplan{
    color: whitesmoke;
}
legend{
    color: white;
}
.form-group{
    color: white;
}
.register{
    color: white;
}

/*==================================================Footer============================================================*/
.footer{
    height: 200px;
    background: #141414;

}

.fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.foot{
    font-size: 15px;
}

/*=========================================hover======================================================================*/
                .fa:hover {
                    opacity: 0.7;
                    color: #ffffff;
                }
/*==============================================Facebook============================================================= */
                  .fa-facebook {
                      background: #3B5998;
                      color: #ffffff;
                      border-radius: 20px;

                  }

/*================================================Twitter============================================================ */
                  .fa-twitter {
                      background: #55ACEE;
                      color: #ffffff;
                      border-radius: 20px;
                  }
/*==============================================Instagram============================================================ */
                  .fa-instagram{
                        background:linear-gradient( #400080, transparent),
                          linear-gradient(200deg, #d047d1, #ff0000,    #ffff00);
                          color: #ffffff;
                          border-radius: 20px;
                          font-size: 22px;

                        }

                        .fa-youtube{
                          background: #cc181e;
                          color: #ffffff;
                          border-radius: 20px;
                        }


