{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}



<div class="landing">
<div class="container">

        <div class="col-lg-4 col-lg-offset-4">
            <div class="contentbox">
                <h3 class="landingwrite"><strong>What are you waiting for?</strong></h3>
                <h3 class="landingwrite"><strong>Let's go!</strong></h3>
            <hr class="breakline">
            <a{% if user.is_authenticated %} href="/products/" {% else %} href="{% url 'login' %}" {% endif %} class="btn btn-info women" role="button"><strong>Womenswear</strong></a>
            <a{% if user.is_authenticated %} href="/products/" {% else %} href="{% url 'login' %}" {% endif %} class="btn btn-info man" role="button"><strong>Menswear</strong></a>
            </div>
        </div>

    </div>
</div>


{% endblock %}